# It's good practice to keep one version of your main framework
rasa==3.6.0

# Pin the dependency to avoid the build error
PyYAML==5.4.1

# Other dependencies
Cython
gTTS
pytube
SpeechRecognition
pyttsx3
requests
gunicorn==20.1.0